# 01. intro 

## shortcut 
- ctrl + enter : 지금 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항 

1. Apple / apple : 대문자와 소문자는 완전히 다르다
2. git add . / git add. : 완전히 다른 명령어
3. message / massage : 철자 신경 쓰기

In [ ]:
# 여기는 주석입니다.

## 1. 변수 

변수 이름 = 값

- 변수 이름은 어떤 이름이든 사용 가능함
- 다만, 영어, 숫자, _를 이용하여 선언
- 키워드는 사용 불가능 함

In [16]:
a = 20

In [17]:
a

20

In [19]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [20]:
seoul_dust_rate = 40 #여러개 단어 조합할 때는 _ 사용하기

### 1.1 number

In [21]:
a = 100000

In [22]:
a

100000

In [24]:
type(a) #integer : 정수형

int

In [25]:
b = 1.1

In [26]:
type(b) #float : 실수형

float

In [31]:
c = 1- 4j

In [32]:
c

(1-4j)

In [33]:
type(c) #복소수

complex

### 1.2 boolean

True, False 로 이루어진 타입

In [34]:
a = True

In [35]:
type(a)

bool

In [36]:
b = False

In [37]:
type(b)

bool

### 1.3 None

In [39]:
a = None

In [40]:
type(None)

NoneType

### 1.4 String

- 문자열 `'`,`"`를 이용하여 표현

In [47]:
a = 'hello'

In [43]:
a

'hello'

In [44]:
type(a)

str

In [45]:
b= "world"

In [46]:
type(b)

str

In [52]:
age = input()
print(age)
print(type(age))

 123

123
<class 'str'>

In [54]:
print('안녕하세요 "오창희"입니다.')
print("안녕하세요. '오창희'입니다.")

안녕하세요 "오창희"입니다.
안녕하세요. '오창희'입니다.

In [56]:
print("안녕하세요. \"오창희\"입니다.")

안녕하세요. "오창희"입니다.

In [59]:
a = '''
안녕하세요. '오창희' 입니다.
여러줄도 작성 가능합니다. 
'''
print(a)

안녕하세요. '오창희' 입니다.
여러줄도 작성 가능합니다.

In [61]:
print("안녕하세요. \n오창희입니다.  \t 들여쓰기 이스케이프 문자열입니다.")

안녕하세요.
오창희입니다.  	 들여쓰기 이스케이프 문자열입니다.

### string interpolation

1. %-formating
2. str.format()
3. f-string

In [63]:
age = 10

In [68]:
print("홍길동은 %s살 입니다."% age)

홍길동은 10살 입니다.

In [72]:
print("홍길동은 {}살입니다.".format(age))

홍길동은 10살 입니다.

In [73]:
print(f"홍길동은 {age}살입니다.")

홍길동은 10살입니다.

## 2. 연산자

In [78]:
a = 7
b = 3

In [79]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)

10
4
21
2.3333333333333335
343

In [82]:
print(a//b) #몫
print(a%b) #나머지

2
1

In [83]:
print(divmod(a,b)) #몫과 나머지

(2, 1)

### 2.2 비교 연산자

In [84]:
a = 5
b = 10

In [85]:
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True

In [88]:
print(a==b)
print(a !=b ) #데이터가 서로 다르다

False
True

In [90]:
print("hi" == 'hi')
print("HI" == 'hi')

True
False

### 2.3 논리 연산자

- and : 양쪽 모두 True일 때, True를 반환
- or : 양쪽 모두 False 일 때, False를 반환
- not :

In [91]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [92]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [93]:
result = True 
print(not result)

False

In [97]:
# 단축 평가
print(3 and 5) #True and True -> 앞에가 T네 그럼 나도 F 출력할게 이런 식 
print(3 and 0) #True and False
print(0 and 3) #False and True
print(0 and 0) #False and False

5
0
0
0

In [98]:
print(3 or 5) 
print(3 or 0)
print(0 or 3)
print(0 or 0)

3
3
3
0

### 2.4 복합 연산자

In [99]:
a = 1
b = 2

In [101]:
a = a + b
a = a - b
a = a * b
a = a / b

In [102]:
a += b
a -= b
a *= b
a /= b

### 2.5 기타 연산자

In [105]:
a = 'hi'
b = 'hello'

In [106]:
#concatenation
print(a+b) #문자열이 연결되어서 나옴

hihello

In [108]:
a = [1, 2, 3]
b = [4, 5, 6]

In [109]:
print(a+b) #sequence 형 데이터는 concat이 가능하다 !!

[1, 2, 3, 4, 5, 6]

In [111]:
#containment
print(1 in a)
print(10 in a)

True
False

In [115]:
# identity

a = 5 
b = 5

print(a == b)
print(a is b) #is는 메모리 값을 비교함 -> 파이썬은 자주 사용하는 숫자(-5 ~ 256)들을 동일한 메모리에 이미 저장해두기 때문에 메모리 주소 값은 동일

True
True

In [114]:
a = 123123
b = 123123

print(a == b)
print(a is b)

True
False

In [120]:
a = 257
b = 257

print(a == b)
print(a is b)

True
False

#### 우선 순위 

0. ()를 통해 그룹 
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자, in, is
5. not
6. and 
7. or

In [122]:
print( -3 ** 4)
print((-3) ** 4)

-81
81

## 3. 형 변환

### 3.1 암시적 형변환

In [126]:
a = True
b = False
c = 1

In [129]:
print(a + b) 
print(b - c)

1
-1

In [133]:
int_num = 3
float_num = 3.3
complex_num = 3 + 3j

In [135]:
print(type(int_num + float_num))
print(float_num + complex_num) #서로 다른 데이터 타입 연산

<class 'float'>
(6.3+3j)

### 3.2 명시적 형변환 

- int() : string, float => int
- float() : string, int => float
- str() : int, float => string
- bool() : int, list, string => bool

In [136]:
a = 1
b = "변"

print(a+b)

In [139]:
print(str(a)+b)

1변

In [142]:
a = '3'
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

a = 'a'
print(int(a)) #바꿀 수 없음. 상황에 따라서 허용된 범위 내에서만 변경 가능함

In [147]:
a = 3.3
print(float(a))

3.3

In [148]:
a = 1
b = 0

print(bool(a))
print(bool(b))

True
False

In [149]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀸스 자료형

시퀸스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과 다르다)

1. List
2. Tuple
3. Range
4. String

### 4.1 List (리스트, 배열)

- 선언 : 변수 이름 = [value1, value2, value3 ...]
- 접근 : 변수이름[index]

In [151]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [153]:
location = ["서울", "대전", "부산"]
print(location)
print(location[0])

['서울', '대전', '부산']
서울

In [156]:
location[1] = '광주'
location

['서울', '광주', '부산']

### 4.2 Tuple(튜플)
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)이다.

In [160]:
numbers = (1,2,3)
print(numbers)
print(numbers[1])

(1, 2, 3)
2

numbers[1] = 654 #immutable 하기 때문에 변경 x

In [164]:
x, y = (1, 2)
print(x, y)

x, y = y,x 
print(x,y)

1 2
2 1

### 4.3 Range

- range(n) : 0부터 n-1까지 범위
- range(n,m): n부터 m-1까지 범위
- range(n,m,s) : n부터 m-1까지 +s만큼 증가하는 범위

In [171]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [173]:
numbers = range(5, 10)
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [176]:
even = range(2, 20, 2)
print(list(even))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [181]:
numbers = range(0, -10 ,-2)
print(numbers)
print(list(numbers))

range(0, -10, -2)
[0, -2, -4, -6, -8]

### 4.4 string
기본 데이터 구조 참고

### 4.5 시퀀스에서 활용가능한 연산/함수

In [184]:
my_list = [1,2,3,4,5]
my_tuple = (1,2,3,4,5)
my_range = range(5)
my_string = '12345'

In [186]:
#indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0]) #시퀀스 형은 모두 indexing 접근이 가능하다
print(my_string[0])

1
1
0
1

In [190]:
#slicing 
print(my_list[1:3])
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

print(my_string[0:4:2])

[2, 3]
(2, 3)
range(1, 3)
23
13

In [191]:
#in 
print(1 in my_list)
print(1 in my_tuple)
print('1' in my_string)

#not in
print(1 not in my_list)

True
True
True
False

In [195]:
# concatenation
print(my_list + [6, 7, 8, 9, 10])
print(my_tuple + (6, 7, 8, 9, 10))
print(my_string + '678910')

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
12345678910

In [197]:
# * 
print('#')

#

In [201]:
print('#'* 10) 
print([0]*10)

##########
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [207]:
print(len(my_list))

5

In [209]:
print(max(my_list))

5

In [208]:
print(min(my_list))

1

## 5. 시퀀스가 아닌 자료구조

### 5.1 set
수학에서 사용하는 집합과 동일한 개념 (중복값이 없음)
set= {value1, value2, value 3...}

In [4]:
set_a = {1,3,5,7,9}
set_b = {1,2, 4, 5, 4}

In [6]:
print(set_a - set_b) #중복값이 존재하지 않음

{9, 3, 7}

### 5.2 Dictionary

- 선언 : 변수 이름 = {key 1 : value1, key2: value2 ... }
- 접근 : 변수이름[key]

In [7]:
my_dict = {'서울': '02', '경기': '031'}
print(my_dict)

{'서울': '02', '경기': '031'}

In [10]:
my_dict['서울']

'02'

In [11]:
my_info = {
    'name': 'jiwon', 
    'location':'seoul',
    'age': 10,
}
print(my_info['location'])

seoul

In [12]:
my_info.keys() #키들에 대한 목록을 보여줘

dict_keys(['name', 'location', 'age'])

In [13]:
my_info.values() #values에 대한 목록을 보여줘

dict_values(['jiwon', 'seoul', 10])

##### 데이터 타입 
1. Number
2. Boolean
3. String

##### 자료구조 
-시퀀스 자료형 

1. [List] : mutable
2. (Tuple) : immutable
3. range() : immutable
4. 'String' : immutable

- 시퀀스가 아닌 자료형 

1. {set} : mutable
2. {Dict : ionary} : mutable