# 제어문 

## 조건문 (if문) 

1. if문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용된다.
2. `<조건식>` 참(True)의 경우 if: 이후의 문장을 실행 
3. `<조건식>` 거짓(False)인 경우 else: 이후의 문장을 실행 

if <조건식> :
    if의 조건식이 참인 경우 실행 
    
else:
    if의 조건식이 거짓인 경우 실행

In [2]:
my_string = input()

if my_string =='12/25':
    print('크리스마스입니다.')
else:
    print("크리스마스가 아닙니다.")

 12/25

크리스마스입니다.

In [16]:
num = int(input('숫자를 입력해주세요'))
#문자열인 경우 나눠지지 않기 때문에 int 형식으로 변경해줘야 함 
result = num % 2
if result == 0:
    print('짝수입니다.')
else:
    print('홀수입니다.')

숫자를 입력해주세요 124

짝수입니다.

In [19]:
num = int(input())

if num % 2:
    print('홀수')
else:
    print('짝수')

 125

홀수

In [ ]:
## elif

if <조건식> :

In [12]:
score = int(input())

 78

In [13]:
# 90점 이상 A
# 80 ~ 89 B
# 70 ~ 79 C
# 나머지 F

if score >= 90:
    print('A')
elif 80 <= score < 90:
    print('B')
elif 70 <= score <= 79:
    print('C')
else:
    print('F')

C

### 조건 표현식 

```
ture_ value = if <조건식> else false_value
```

In [22]:
num = 5
value = num if num >= 0 else 0
print(value)

5

In [23]:
num = int(input())
if num >= 0:
    print(num)
else:
    print(0)

 4

4

### 반복문 

#### while문 

```
while <조건식>:
    실행할 코드
```

In [ ]:
a = 0

while a <5 :
    print(a)
    a+=1

### for 

정해진 범위 내의 반복 

```
for variable in sequence:
    code
```

In [28]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [30]:
words = input("단어를 입력해주세요")

for char in words:
    print(char)

단어를 입력해주세요 apple

a
p
p
l
e

In [31]:
for i in range(5):
    print(i)

0
1
2
3
4

In [32]:
# 1~ 30까지 숫자 중에서 홀수만 출력하기 !! 

for i in range(1,31):
    if i %2 == 1:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [33]:
menus = ['라면', '김밥','백']
for menu in enumerate(menus):
    print(menu)

(0, '라면')
(1, '김밥')
(2, '백')

In [34]:
#enumerate는 index로 접근 가능하게 
for index, menu in enumerate(menus):
    print(index)
    print(menu)

0
라면
1
김밥
2
백

### dictionary 반복 

1. for key in dict
2. for key in dict.keys()
3. for value in dict.values()
4. for key, value in dict.items()

In [35]:
info = {
    'name':'gildong',
    'location':'seoul',
    'phone':'010-1234-1234',
    'age': 20,
}

In [37]:
for i in info:
    print(i)
    print(info[i])

name
gildong
location
seoul
phone
010-1234-1234
age
20

In [38]:
info.keys()

dict_keys(['name', 'location', 'phone', 'age'])

In [39]:
for key, value in info.items():
    print(key, value)

name gildong
location seoul
phone 010-1234-1234
age 20

In [41]:
blood_type = {
    'A' : 5,
    'B' : 3,
    'O' : 2,
    'AB' : 2,
}

In [51]:
#혈액형의 종류는 ? -> key들이 뭐가 있는지가 궁금함 
print("혈액형의 종류는", end=' ')
for blood in blood_type:
    print(blood, end=' ')
print("가 있습니다")

혈액형의 종류는 A B O AB 가 있습니다

In [44]:
blood_type.keys()

dict_keys(['A', 'B', 'O', 'AB'])

In [60]:
# 총 학생 수는 몇명입니다
result = 0
for value in blood_type.values():
    result += value
print(f'총 학생은 {result}명입니다.')

총 학생은 12명입니다.

### break

반복문을 종료시키는 키워드

In [56]:
for i in range(100):
    if i > 10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [57]:
rice = ['보리','보리','보리','보리','쌀','보리']

for r in rice:
    print(r)

보리
보리
보리
보리
쌀
보리

In [ ]:
i = 0

while True:
    if rice[i] == 쌀:
        print('잡았다')
        break
    print(rice[i])
    i = i+1

### continue

continue 이후의 코드를 실행하지 않고 다음 반복을 진행

In [61]:
for i in range(20):
    if i % 2 :
        continue
    print(i)

0
2
4
6
8
10
12
14
16
18

In [65]:
ages = [10, 20, 38, 82, 11, 13, 39]

for age in ages:
    if age <=20:
        continue
    print(f"{age}살은 성인입니다.")

38살은 성인입니다.
82살은 성인입니다.
39살은 성인입니다.

### else

else문은 끝까지 반복된 후 실행됩니다.

In [66]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print("else입니다.")

0
1
2
3
4
5

### pass

### match
```
match value: 
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [ ]:
satus= 123